.navbar {
  background-color: var(--pink);
  padding: 1rem 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h1 {
  margin: 0;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navbar ul li {
  margin: 0;
}

.navbar a {
  color: white;
  font-weight: 600;
}

.logout-btn {
  background: none;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
